<h1>Users#index</h1>
<p>Find me in app/views/users/index.html.erb</p>


<p> Welcome, <%= $user_name%> </p>

<%= link_to "Turn to Technolalalalalalalalalalalalalalogicalness" "http://turntotech.io" %> <br>

<%= link_to "Logout", logout_path %>

<!--#Where do we define a logout path? Is this built into rails?-->