<h3>Registration of users</h3>
<p>
  For registration click <a href="http://127.0.0.1:3000/users/new">here</a>.
  <br><br>
  Note - If you want to see registered users(Manually). you can follow this steps
<ul>
  <li>Open the terminal. Go to the project folder.</li>
  <li>Now go to db folder - "cd db"</li>
  <li>Then run "sqlite3 development.sqlite3". Now you can type sql commands. </li>
  <li>Type "select * from students;". You can see the list</li>
  <li>Now quit the sqlite using ".quit" command</li>
</ul>
</p>
